<h3>Interaction</h3>
<div class="row">
  <div class="col-sm-6">
    <svg id="grafik" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 25"><defs><style>.cls-1{fill:#009245;}.cls-2,.cls-4{font-size:12px;font-family:MyriadPro-Semibold, Myriad Pro;font-weight:700;}.cls-2{fill:#e6e6e6;}.cls-3{letter-spacing:-0.02em;}.cls-4,.cls-9{fill:none;}.cls-5{letter-spacing:-0.01em;}.cls-6{letter-spacing:0em;}.cls-7{fill:#39b54a;}.cls-8{fill:#fff;}</style></defs><title>Commit-Button</title><g id="Background"><rect class="cls-1" width="110" height="25" rx="2.92" ry="2.92"/></g><g id="Schrift"><text class="cls-2 not-commited" transform="translate(34.37 16.02)"><tspan class="cls-3">C</tspan><tspan x="6.86" y="0">ommit</tspan></text><text class="cls-4 commited" transform="translate(27.82 16.02)"><tspan class="cls-3">C</tspan><tspan x="6.86" y="0">ommi</tspan><tspan class="cls-5" x="37.06" y="0">t</tspan><tspan class="cls-6" x="41.2" y="0">ed</tspan></text></g><g id="Overlay"><g id="Overlay-Back"><rect class="cls-7" width="25" height="25" rx="2.92" ry="2.92"/></g><g id="Pfeil"><path class="cls-8" d="M153.72,204.19l4.77-4.59L153.72,195l1.47-1.41,6.25,6-6.25,6Z" transform="translate(-145 -187.5)"/><path class="cls-9" d="M145,188h25v24H145Z" transform="translate(-145 -187.5)"/></g></g></svg>
  </div>
</div>
